@using Frapid.Configuration
@{
    ViewBag.Title = I18N.EditLayout;
    Layout = ViewBag.Layout;
}
<link rel="stylesheet" href="/scripts/vakata-jstree/dist/themes/default/style.min.css" />
<script src="/scripts/vakata-jstree/dist/jstree.min.js"></script>
<script src="/scripts/ace-1.2.2/src-min-noconflict/ace.js"></script>
<script src="/scripts/ajax-file-upload.js"></script>
<link href="/Areas/Frapid.Config/styles/file-manager/index.css" rel="stylesheet">
<script src="/scripts/less/less.min.js"></script>
    <div class="ui stackable divided grid" style="height: 100%;">
        <div class="thirteen wide full height column attached segment" data-target="editor" id="ActionContainer">
            <div class="action buttons">
                <div class="ui stackable grid">
                    <div class="twelve wide column">
                        <div class="ui basic icon buttons">
                            <button class="ui basic button" data-container="" data-path="" id="SaveButton" style="display: none;">
                                <i class="save icon"></i>
                                @I18N.Save
                            </button>
                            <button class="ui basic button" id="UploadButton" data-container="">
                                <i class="upload icon"></i>
                                @I18N.Upload
                            </button>
                            <button class="ui basic button" onclick="$('#FileModal').modal('show');" data-container="" id="CreateFileButton">
                                <i class="file icon"></i>
                                @I18N.CreateFile
                            </button>
                            <button class="ui basic button" onclick="$('#FolderModal').modal('show');" data-container="" id="CreateDirectoryButton">
                                <i class="folder icon"></i>
                                @I18N.CreateFolder
                            </button>
                            <button class="ui basic button" data-path="" onclick="deleteItem(this);" id="DeleteButton">
                                <i class="minus square icon"></i>
                                @I18N.Delete
                            </button>

                            <button class="ui basic button" onclick="toggleEditorTheme()">
                                <i class="unhide icon"></i>
                                @I18N.ChangeContrast
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="viewer" class="ui attached segment">
                <img class="ui image" />
            </div>
            <div>
                <div id="editor">
                </div>
            </div>
        </div>
        <div class="ui three wide full height right floated column attached segment" style="overflow: auto;">
            <div class="ui header">
                @I18N.EditTenantFiles
            </div>
            <div class="ui divider"></div>
            <div class="tree container vpad8" style="display: none;">
                <div class="ui violet medium ribbon label">
                    <span data-theme="">@TenantConvention.GetDomain()</span>
                </div>
                <div id="container" class="vpad8"></div>
            </div>

        </div>
    </div>


@Html.Partial("~/Areas/Frapid.Config/Views/FileManager/Shared/UploadModal.cshtml")
@Html.Partial("~/Areas/Frapid.Config/Views/FileManager/Shared/FileModal.cshtml")
@Html.Partial("~/Areas/Frapid.Config/Views/FileManager/Shared/FolderModal.cshtml")


<script src="/Areas/Frapid.Config/scripts/file-manager/index.js"></script>