@using Frapid.i18n
@{
    ViewBag.Title = I18N.ChangePassword;
    Layout = ViewBag.LayoutPath + ViewBag.Layout;
}
@if (CultureManager.IsRtl())
{
    <link rel="Stylesheet" href="@Href("~/assets/css/backend.rtl.css")"/>
}
else
{
    <link rel="Stylesheet" href="@Href("~/assets/css/backend.css")"/>
}

<div class="ui attached padded left aligned segment" style="min-height: 400px;">
    <div class="ui container">
        <div class="ui huge header">@I18N.PasswordWasChanged</div>
        <div class="ui positive message">@I18N.YourPasswordWasChangedSuccessfully</div>

        <div class="ui small basic buttons">
            <a href="/" class="ui basic button">@I18N.ReturnHome</a>
        </div>
    </div>
</div>