@model Frapid.WebsiteBuilder.ViewModels.Content
@using Frapid.Areas
@using Frapid.WebsiteBuilder.Controllers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title</title>
    <link href="/scripts/semantic-ui/semantic.min.css" rel="stylesheet" />
    <link href="/my/template/css/site.css" rel="stylesheet">
    <style>
        html, body{
            font-size:14px;
        }
    </style>
    <script src="/scripts/jquery-2.2.4.min.js"></script>
    <script src="/scripts/semantic-ui/semantic.min.js"></script>
    <script src="/scripts/frapid/core/frapid-ajax.js"></script>
    <script src="/my/template/scripts/frapid.js"></script>
</head>
<body id="body">
    @{
        string header = ViewBag.LayoutPath + "Header.cshtml";
        string footer = ViewBag.LayoutPath + "Footer.cshtml";
        string subscription = ViewBag.LayoutPath + "Subscription.cshtml";
    }

    @Html.Partial(header, Model)

    <section class="body">
        @RenderBody()
        @Html.Partial(subscription)
    </section>
    @Html.Partial(footer)
    @Html.GetAntiForgeryToken(this.Request.Url)
</body>
</html>