@model dynamic

@{
    ViewBag.Title = I18N.ChangePassword;
    Layout = ViewBag.Layout;
}
<div class="ui segment" style="padding: 48px;">
    <div class="ui container">
        <div class="ui huge header">@I18N.ChangePassword</div>
        <div class="ui stackable grid">
            <div class="six wide column">
                <div class="ui form">
                    <div class="field">
                        <label>@I18N.SelectAUser</label>
                        <select id="UserIdSelect" class="ui search dropdown" required=""></select>
                    </div>
                    <div class="field">
                        <label>@I18N.Password</label>
                        <input type="password" id="PasswordInputPassword" required="" />
                    </div>
                    <div class="field">
                        <label>@I18N.ConfirmPassword</label>
                        <input type="password" id="ConfirmPasswordInputPassword" required="" />
                    </div>
                    <button class="ui green button" id="ChangeButton">@I18N.Change</button>
                </div>
            </div>
        </div>
    </div>    
</div>

<script>
    $(".form").addClass("loading");
    //$(".dropdown").dropdown({forceSelection: false});
    window.validator.initialize($(".ui.form"));

    function bindUsers() {
        function request() {
            const url = "/api/views/account/user-selector-view/display-fields";
            return window.getAjaxRequest(url);
        };

        const ajax = request();

        ajax.fail(function () {
            $(".form").removeClass("loading");
        });

        ajax.success(function (response) {
            $(".form").removeClass("loading");

            const select = $("#UserIdSelect");
            var options = "";

            $.each(response, function () {
                var option = "<option value='{key}'>{value}</option>";
                option = option.replace("{key}", this.Key);
                option = option.replace("{value}", this.Value);

                options += option;
            });

            select.html(options);
        });
    };

    bindUsers();


    $("#ChangeButton").off("click").on("click", function () {
        function request(model) {
            const url = "/dashboard/account/user/change-password";
            const data = JSON.stringify(model);

            return window.getAjaxRequest(url, "POST", data);
        };

        var form = $(".ui.form");
        form.addClass("loading");

        const model = window.serializeForm(form);
        if (model.Password !== model.ConfirmPassword) {
            alert(translate("ConfirmPasswordDoesNotMatch"));
            return;
        };

        const ajax = request(model);

        ajax.success(function () {
            form.removeClass("loading");
            $(".ui.form input").val("");
            window.displaySuccess();
        });

        ajax.fail(function (xhr) {
            form.removeClass("loading");
            window.logAjaxErrorMessage(xhr);
        });
    });
</script>