@model Frapid.Reports.ViewModels.ParameterMeta

@{
    ViewBag.Title = Model.ReportTitle;
    Layout = ViewBag.Layout;
}

<script src="/scripts/trumbowyg/dist/trumbowyg.min.js"></script>
<link rel="stylesheet" href="/scripts/trumbowyg/dist/ui/trumbowyg.min.css">
<link rel="stylesheet" type="text/css" href="/Areas/Frapid.Reports/styles/reports.css"/>

<div class="report-panel">
    <div class="ui stackable report grid">
        <div class="three wide collapsed column">
            <div class="toolbar">
                <div onclick="$('iframe').get(0).contentWindow.print();" class="print button" title="@I18N.PrintThisReport">
                    <i class="print icon"></i>
                </div>
                <div class="mail button" title="@I18N.EmailThisReport">
                    <i class="mail icon"></i>
                </div>
                <div class="pdf button" title="@I18N.DownloadPdf">
                    <i class="file pdf outline icon"></i>
                </div>
                <div class="excel button" title="@I18N.DownloadExcel">
                    <i class="file excel outline icon"></i>
                </div>
                <div class="word button" title="@I18N.DownloadWord">
                    <i class="file word outline icon"></i>
                </div>
                <div class="xml button" title="@I18N.DownloadXml">
                    <i class="code icon"></i>
                </div>
                <div class="text button" title="@I18N.DownloadText">
                    <i class="file text outline icon"></i>
                </div>
                <div class="zoom in button" title="@I18N.ZoomIn">
                    <i class="zoom icon"></i>
                </div>
                <div class="zoom out button" title="@I18N.ZoomOut">
                    <i class="zoom out icon"></i>
                </div>
                <div onclick="document.location = document.location" class="refresh button" title="@I18N.Reload">
                    <i class="refresh icon"></i>
                </div>
            </div>
            <div class="filter padded query container" style="background-color: #efefef; min-height: 1200px;">
                <div class="report title">@Model.ReportTitle</div>

                <div class="ui small parameter flat form">
                    @foreach (var parameter in Model.Parameters)
                    {
                        string name = parameter.Name.Replace("@", "");

                        <div class="field">
                            <label>@parameter.FieldLabel</label>

                            @if (!string.IsNullOrWhiteSpace(parameter.PopulateFrom))
                            {
                                <select data-paramter="@name" id="@(name)Select"
                                        data-key-field="@parameter.KeyField"
                                        data-value-field="@parameter.ValueField"
                                        data-default-value="@parameter.DefaultValue"
                                        data-url="@parameter.PopulateFrom" 
                                        data-optional="@parameter.Optional.ToString().ToLowerInvariant()">
                                </select>
                            }
                            else
                            {
                                switch (parameter.Type.ToUpperInvariant())
                                {
                                    case "SYSTEM.DATETIME":
                                        <input data-paramter="@name" id="@(name)InputDate" value="@parameter.DefaultValue" class="date" type="date"/>
                                        break;
                                    case "BOOL":
                                    case "BOOLEAN":
                                        <div class="ui slider checkbox">
                                            <input data-paramter="@name" id="@(name)CheckBox" data-checked="@(parameter.DefaultValue ?? "").ToString().ToLower()" type="checkbox">
                                            <label>Yes</label>
                                        </div>
                                        break;
                                    case "DECIMAL":
                                    case "DOUBLE":
                                        <input data-paramter="@name" id="@(name)InputText" value="@parameter.DefaultValue" type="text" class="decimal" data-number=""/>
                                        break;
                                    case "INT":
                                    case "LONG":
                                        <input data-paramter="@name" id="@(name)InputText" value="@parameter.DefaultValue" type="text" class="integer" data-number=""/>
                                        break;
                                    default:
                                        <input data-paramter="@name" id="@(name)InputText" value="@parameter.DefaultValue" type="text"/>
                                        break;
                                }
                            }
                        </div>
                    }
                    <button id="ShowButton" class="ui positive button">@I18N.Show</button>
                </div>
            </div>
        </div>
        <div class="thirteen wide column">
            <iframe id="ReportIframe" src="@Model.ReportSourcePath" onload="setHeight(this);" style="min-height: 1200px;"></iframe>
        </div>
    </div>
</div>

<div id="EmailModal" class="ui modal hide on print">
    <i class="close icon"></i>
    <div class="header">
        @I18N.SendEmail
    </div>
    <div class="content">
        <div class="ui flat form basic segment">
            <div class="field">
                <label>@I18N.SendTo</label>
                <input id="SendToInputEmail" type="email" required data-persist placeholder="Enter Email Address"/>
            </div>
            <div class="field">
                <label>@I18N.Subject</label>
                <input id="SubjectInputText" type="text" required data-persist placeholder="Enter Subject" value="@Model.ReportTitle"/>
            </div>
            <div class="field">
                <label>@I18N.Message</label>
                <textarea id="MessageTextArea" placeholder="Enter Your Message" rows="10">@I18N.PleaseFindAttachedDocument</textarea>
            </div>
            <div class="hidden field">
                <input type="text" id="FileNameInputText" value="@Model.ReportTitle" />
            </div>
            <div class="attachment vpad8 field">
                <label>@I18N.Attachments</label>
                <a href="javascript:void(0);">
                    <i class="file pdf red outline icon"></i><span class="title">@(Model.ReportTitle).pdf</span></a>
            </div>
            <button id="SendEmailButton" class="ui positive button">@I18N.Send</button>
            <button class="ui negative button" onclick="$('#EmailModal').modal('hide');">@I18N.Close</button>
        </div>
    </div>
</div>
<a id="DownloadAnchor" style="display: none;"></a>
<script src="/Areas/Frapid.Reports/scripts/reports.js" async="" defer=""></script>