@model Frapid.Authorization.ViewModels.GroupMenuPolicy

@{
    ViewBag.Title = I18N.GroupMenuPolicy;
    Layout = ViewBag.Layout;
}
<style>
    .selector.table tr {
        cursor: pointer;
    }
</style>
<div class="ui container">
    <div class="ui attached padded segment">
        <div class="ui huge header">@I18N.MenuAccessGroupPolicy</div>
        <div class="ui divider"></div>
        <div class="ui vpad8 form">
            <div class="three fields">
                <div class="field">
                    <label>@I18N.SelectARole</label>
                    <select id="RoleDropdown" class="ui search dropdown">
                        <option>@I18N.Select</option>
                        @foreach (var item in Model.Roles)
                        {
                            <option value="@item.RoleId">@item.RoleName</option>
                        }
                    </select>
                </div>
                <div class="field">
                    <label>@I18N.SelectAnOffice</label>
                    <select id="OfficeDropdown" class="ui search dropdown">
                        <option>@I18N.Select</option>
                        @foreach (var item in Model.Offices)
                        {
                            <option value="@item.OfficeId">@item.OfficeCode (@item.OfficeName)</option>
                        }
                    </select>
                </div>
                <div class="field">
                    <label>&nbsp;</label>
                    <button data-get-menu-policy-button class="ui positive button">@I18N.Load</button>
                </div>
            </div>
        </div>

        <table class="ui attached selector table">
            <thead>
            <tr>
                <th>
                    <input type="checkbox" data-toggle-all/>
                </th>
                <th>
                    @I18N.App
                </th>
                <th>
                    @I18N.MenuId
                </th>
                <th>
                    @I18N.MenuText
                </th>
                <th>
                    @I18N.Url
                </th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.Menus)
            {
                <tr>
                    <td>
                        <input type="checkbox" data-menu-id="@item.MenuId"/>
                    </td>
                    <td>
                        @item.AppName
                    </td>
                    <td>
                        @item.MenuId
                    </td>
                    <td>
                        @item.MenuName
                    </td>
                    <td>
                        @item.Url
                    </td>
                </tr>
            }
            </tbody>
        </table>
        <div class="vpad8"></div>
        <button data-save-button class="ui positive button">@I18N.Save</button>
    </div>
</div>
<script src="/Areas/Frapid.Authorization/scripts/menu-policy/group-policy.js"></script>