@model Frapid.Account.ViewModels.Reset
@using Frapid.i18n
@{
    ViewBag.Title = I18N.ResetMyAccount;
    Layout = ViewBag.LayoutPath + ViewBag.Layout;
    ViewBag.Description = I18N.ResetMyAccountDescription;
}
@if (CultureManager.IsRtl())
{
    <link rel="Stylesheet" href="@Href("~/assets/css/backend.rtl.css")" />
}
else
{
    <link rel="Stylesheet" href="@Href("~/assets/css/backend.css")" />
}


<div class="ui attached padded reset password left aligned segment">
    <div class="ui container">
        <div class="ui huge header">@I18N.ForgotYourPassword</div>
        <div class="ui positive message">
            @I18N.ResetAccountInstructions
        </div>
        <div class="ui stackable form" style="max-width: 400px;">
            <div class="field">
                <label>@I18N.EnterYourEmailAddress</label>
                <input type="email" id="EmailInputEmail" required="" />
            </div>
            <div class="hidden field">
                <label>@I18N.EnterYourEmailAddressAgain</label>
                <input type="email" id="ConfirmEmailInputEmail" required="" />
            </div>

            <input type="hidden" id="TokenInputHidden" value="@Model.Token"/>

        </div>
        <div class="big error vpad8"></div>
        <button class="ui positive button" id="ResetButton">@I18N.ResetMyAccount</button>
        <a class="ui negative button" href="/">@I18N.Cancel</a>
    </div>
</div>
<script src="/i18n/resources.js?cultureCode=@CultureManager.GetCurrentUiCulture().Name"></script>
<script src="/assets/js/backend.js"></script>
<script src="/Areas/Frapid.Account/scripts/account/reset/index.js"></script>
