@model Config
@{
    Layout = ViewBag.Layout;
}

<style>
    .relaxed.segment .container {
        padding: 4em;
    }
</style>
<div class="ui attached relaxed sparkpost configuration segment">
    <div class="ui container">
        <div class="ui huge header">Setup SparkPost for Frapid</div>
        <div class="ui yellow message">
            SparkPost is a cloud-based SMTP provider that allows you to send email without having to maintain email servers. SparkPost manages all of the technical details, from scaling the infrastructure to ISP outreach and reputation monitoring to whitelist services and real time analytics.
        </div>
        <div class="ui sparkpost setup flat form">
            <div class="field">
                <label for="ApiDomainInputUrl">Api Domain</label>
                <input type="url" id="ApiDomainInputUrl" value="@Model.ApiDomain" required="" />
            </div>
            <div class="two fields">
                <div class="field">
                    <label for="FromNameInputText">From Name</label>
                    <input type="text" id="FromNameInputText" value="@Model.FromName" required="" />
                </div>
                <div class="field">
                    <label for="FromEmailInputEmail">From Email</label>
                    <input type="email" id="FromEmailInputEmail" value="@Model.FromEmail" required=""/>
                </div>
            </div>
            <div class="two fields">
               <div class="field">
                    <label for="ApiKeyInputText">Api Key</label>
                    <input type="text" id="ApiKeyInputText" value="@Model.ApiKey" required="" />
                </div>
            </div>
            <div class="field">
                <div class="ui toggle checkbox">
                    <input id="EnabledCheckbox" type="checkbox" data-checked="@Model.Enabled.ToString().ToLower()" />
                    <label>Is Enabled</label>
                </div>
            </div>
            <button id="SaveButton" class="ui positive button">Save</button>
        </div>
    </div>
</div>

<script src="/Areas/SparkPostMail/scripts/index.js"></script>
<script>
    $(function () {
        window.validator.initialize($(".ui.sparkpost.setup.flat.form"));
    });
</script>